<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Be Changed</title>
</head>
<link rel="stylesheet" href="http://localhost:3000/css/signup-style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:3000/css/bootstrap-social.css">
<body>
<img src="../images/school-logo.png" class="school-logo" alt="school logo">
<div class="background-pic">
  <p style="background-image: url('../images/blockchain.png')" class="background-pic1"></p>

</div>


<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-5 col-md-7 mx-auto my-auto">
            <div class="card">
                <div class="card-body px-lg-5 py-lg-5 text-center">
                    <h2 class="text">Please Verify Your Identity</h2>
                    <p class="mb-4">Enter 6-digits code your recieved from your phone.</p>
                    <form action="/2fa" method="POST">
                        <div class="row mb-4">
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input type="text" class="form-control text-lg text-center passInput" placeholder="_" aria-label="2fa" maxlength="1" autocomplete="off" required pattern="\d{1}" name="verCode[]"  autofocus>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input type="text" class="form-control text-lg text-center passInput" placeholder="_" aria-label="2fa" maxlength="1" autocomplete="off" required pattern="\d{1}" name="verCode[]" >
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input type="text" class="form-control text-lg text-center passInput" placeholder="_" aria-label="2fa" maxlength="1" autocomplete="off" required pattern="\d{1}" name="verCode[]" >
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input type="text" class="form-control text-lg text-center passInput" placeholder="_" aria-label="2fa" maxlength="1" autocomplete="off" required pattern="\d{1}" name="verCode[]" >
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input type="text" class="form-control text-lg text-center passInput" placeholder="_" aria-label="2fa" maxlength="1" autocomplete="off" required pattern="\d{1}" name="verCode[]" >
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input type="text" class="form-control text-lg text-center passInput" placeholder="_" aria-label="2fa" maxlength="1" autocomplete="off" required pattern="\d{1}" name="verCode[]" >
                            </div>
                        </div>
                        <div class="text-center">
                          <input type="hidden" name="email" value= <%=emailAddress%> >
                            <button type="submit" class="btn btn-primary  btn-lg my-4">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script >
  var $inp = $(".passInput");

$inp.on({
 input: function(ev) {
  if(this.value) {
    $inp.eq($inp.index(this) + 1).focus();
  }
 },
 keydown: function(ev) {
  var i = $inp.index(this);
  if(ev.which===8 && !this.value && i) {
    $inp.eq(i - 1).focus();
  }
 }
});
</script>
<!-- <h1>Please Enter the security code</h1>


<input type="text" name="" value="">

<button type="button" name="button">submit</button> -->
<%- include("partials/footer");-%>
