<%- include("partials/header") -%>

<div class="jumbotron centered">
  <h1>HealthCare Block Chain</h1>
  <p>Using the newly techology connecting patients to patient. </p>
  <a class="btn btn-outline-primary btn-lg custom" href="/signup" role="button">Register</a>
  <a class="btn btn-primary btn-lg custom" href="/login" role="button">Login</a>
</div>
<div class="container lower">
  <div class="row">
    <div class="col">
      <h2>add title1 here</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col">
      <h2>add title2 here</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>


<%- include("partials/footer") -%>
