<%- include("header")-%>

<h1>Please Enter Your New Password</h1>

<h3>New Password:</h3>
<input type="text" name="" value="">
<h3>Confirm Password:</h3>
<input type="text" name="" value="">


<%- include("footer")-%>
