<%- include("partials/header")-%>

<h1>Sucessfully reset your password or signed up</h1>
<h3>go back to the signin page </h3>
<a class="btn btn-primary" type="button" name="button" href="/login" role="button">Go Back</a>

<%- include("partials/footer")-%>
